
/* tipografias general*/
@font-face {
  font-family:"juli" ;
  src: url("../font/juli.ttf");
}
/* reset de la paginas */
*{margin:0;
padding: 0;
box-sizing:border-box;}

/* navegador */
nav{
    background-color:#080808;
    border-bottom-color: rgb(255, 0, 0);
    border-style:solid ; 
    
   
ul
  {
    color: rgb(240, 248, 255);font-family: "juli";font:20px; list-style-type:none; text-decoration: none; 
  }
 
  
  
  
 ol { list-style: none;}
 /*................................................................ navegador................................................... */

 /* Comment */
footer {background-color: #8045FE;
width:1850px;
grid-area:footer;
}



    
ol li {display:inline-block;
       padding-inline-start:30px;
       color: aliceblue;
      
       
      }  
.textos1
{ text-align: center;
  font-family:"juli";
  color: aliceblue;
  font-size:xx-large;
  background-color:turquoise;
  border-color: white ;
  padding: 9rem ;
  grid-area: titulo ;
 
 
}
      
.imagentaza 
  {text-align: center;
   background-color: #2342ca;
   border: 5px;
   border-color: aliceblue;
   padding: 13rem;
   grid-area: imagen;
    
          
} 

}
       



.precios {background-color: rgb(27, 27, 27);
        text-align: right;}

.titulo2 {font-size: large;}
.contac { 
        font-family:"juli";
        font-size: large;
        font-weight: bold;
       }


.cuerponostros{ 
  background-color: rgb(12, 12, 12);
  width:1850px
}
.foote{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom:  20px;
  padding-left:20px ;
  padding-right: 20px;
  background-color: #2342ca; 
 }
 .coope{ font-family:"juli";
font-size:x-large;
color:white;
}
a{text-decoration: none;
color: aliceblue;
}
.descripcion{ background-color: #77E68A;
font-family: "juli";
color: aliceblue;
font-size:x-small;
grid-area:descripcion;
padding-top:2rem;

  padding-bottom: 1rem;
  padding-left:1rem ;
  padding-right: 1rem;
}


.productoremera{
  background-color: #77E68A;
color: aliceblue;
font-family: "juli";
font-size: xx-large;
text-align: center;
padding-left:2rem;
justify-content: center;
border-radius:20px;
border-color: #8045FE;
border-style:solid;
margin-top:2rem; 



}
.productotaza{
  background-color: darkturquoise;
  color: aliceblue;
  font-family: "juli";
  font-size: xx-large;
  grid-area: taza;
  padding:2rem;
  border-radius:20px;
  text-align: center;
  margin-top:2rem;
  margin-bottom:2rem;
  border-color: #8045FE;
  border-style:solid; 
}
.productollavero{
  background-color: deeppink;
  color: aliceblue;
  font-family: "juli";
  font-size: xx-large;
  grid-area: llavero;
  border-radius:20px;
  text-align: center;
  padding:2rem;
  margin-bottom:2rem;
  border-color: #8045FE;
  border-style:solid; 

  
}
.botones{
  background-color: deepskyblue;
  color: aliceblue;
  font-family: "juli";
  font-size: xx-large;
  grid-area:boton;
  text-align: center;
  padding:2rem;
  border-radius:20px;
  border-color: #8045FE;
  border-style:solid ;
}

.productoss{
  display: grid;
  gap: 1rem;
  grid-template-columns:1fr 1fr;
  grid-template-rows:1fr 1fr ;
 
  grid-template-areas: 
  "remera taza"
  "boton llavero"
 }

p{
  text-align: center ;
  padding-bottom:1rem;
  font-size: x-large;
}
.remera{
  text-align: center;
}
.taza{
  text-align: center;
  
}
.llavero{
  text-align: center;
}
.boton{
  text-align: center;
}
.imagen1{ justify-content: center;
  text-align: center;
  text-align: center;
  
}
.imagen2{
  padding-top:1rem;
  align-items: center;
}
.imagen3{
  padding-left:1rem;
  padding-top:1rem ;
  align-items:center;
}

.imagen4{
  
  padding-top:1rem ;}
  @media (width < 600px) 
  {
   
   .barra{
     display: inline;
    justify-content:left;
    padding-top:0px;
    padding-left:0%;
    padding-right:0%;
    width:100%;
   } 
   .foote{
     display: block;
     align-items: center;
   }
   .descripcion{
     font-size: xx-large;
     text-align: center;
     justify-content: center;
     
     padding-left:1rem ;
     padding-bottom:1rem ;
     padding-top:1rem;
     padding-right:1rem;
     
 
   }
   .imagentaza{
     padding-left:1rem;
     padding-right:1rem;
     justify-content: left;
     }
     
   
     
     
 } 

 
 
 
 .nosotros{
  padding-top:20px ;
  padding-bottom:20px ;
  background-color: rgb(248, 244, 244);
  }
  .que{background-color:#A63392;      
   
   padding: 10px;
   border-radius:40px ;
   font-family:"juli" ;
   text-align: center;
   padding:2rem ;
   
   
}
   .que:hover{
    background-color:rgb(216, 4, 216);
    border-color:yellow;
    border-style:solid ;
    animation: heartBeat; 
    animation-duration: 2s; 
   }
  .cuando{
    background-color:#03BFC0 ;
   gap: 10px;
   padding: 10px;
   border-radius:40px;
   font-family:"juli";
   text-align: center;
   padding:2rem;
   margin-bottom:2rem;
   
  }
  .cuando:hover{
    background-color: rgb(6, 99, 99);
    border-color:yellow;
    border-style:solid;
    animation:heartBeat; 
   animation-duration: 2s;
  }
  h2{color: azure;
    text-align: center;
  padding-left:10px ;
  padding-right: 10px;
   }
  p{color: aliceblue;
  text-align: center;
padding-left: 10px;
padding-right: 10px;}
  .preguntas{
    background-color:#431ec7 ;
   gap: 10px;
   padding: 10px;
   border-radius:40px ;
   text-align: center;
   padding: 2rem;
   font-family:"juli" ;
   

  }
  .preguntas:hover{
    background-color:#3705ec;
    animation: heartBeat; 
    animation-duration: 2s;
    border-color: yellow;
    border-style:solid;
  }
  .donde{
    background-color:blue ;
   gap: 10px;
   padding: 10px;
   border-radius:40px ;
   text-align: center;
   font-family: "juli";
   padding-top:2rem;
   margin-top:1rem ;
   padding: 2rem;
   
  }
  .donde:hover{
  background-color: #2342ca;
  animation: heartBeat; 
  animation-duration: 2s;
  border-color:yellow;
  border-style:solid ;
  }

  .porque{
    background-color:violet ;
   gap: 10px;
   padding: 10px;
   border-radius:40px;
   text-align: center;
   font-family: "juli";
   padding-top:2rem;
   padding:2rem;
   
  }
  .porque:hover{
    background-color:rgb(243, 2, 243);
    animation: heartBeat; 
    animation-duration: 2s;
    border-color:yellow;
    border-style:solid ;

    
  }
  .integra{
    background-color:rgb(60, 243, 158) ;
   gap: 10px;
   padding: 2rem;
   border-radius:40px;
   text-align: center;
   font-family: "juli";
   
   
  }
  .integra:hover{
    background-color:rgb(17, 247, 124);
    animation: heartBeat; 
    animation-duration: 2s;
    border-color:yellow;
    border-style:solid ;
    
    

  }
  .ContactoMujeres{
    background-color: #03BFC0;
    padding-top:1rem;
    padding-bottom:1rem;
  
    border-radius:25px;
    border-color: #77E68A;
    border-style:solid;
    margin-bottom:2rem;
    margin-top:2rem ;
    margin-left:3rem;
    margin-right:3rem;
    

  }
  .mail{
    background-color: #14D959 ;
    font-family:"juli";
    color:yellow;
    gap:2rem;
    margin-top:2rem;
    border-radius:25px;
    text-align: center;
    padding-top:1rem;
    padding:1rem;
    border-style:solid;
    ;
    

    
    
  }
.contac{
  text-align:center;
  font-size: xx-large;
  padding-top: 2rem;
  padding-bottom:1rem;
  
}
.redsocial{
  background-color: #14D959;
  font-family:"juli";
  color: yellow;
  border-radius:20px;
  text-align: center;
  margin-top:2rem;
  padding-top:1rem;
  padding:1rem;
  border-color:yellow;
  border-style:solid;
}
.direccion{
  background-color: #14D959;
  font-family:"juli" ;
  border-radius:20px ;
  color:yellow;
  text-align: center;
  padding-top:1rem;
  margin-top: 1rem;
  gap:1rem;
  padding:1rem;
  border-color: yellow;
  border-style:solid;
  

}
.contactosGeneral{
  background-color:#A732D9;
   
}
.numero{
  background-color:  #14D959;
  font-family:"juli";
  border-radius:15px;
  text-align: center;
  margin-top:1rem;
  color:yellow;
  padding:1rem;
  border-color:yellow;
  border-style:solid ;
  }
.tel{
  background-color:  #14D959;
  border-radius:15px;
  font-family:"juli" ;
  color:yellow;
  text-align: center;
  padding-top:1rem;
  padding:1rem;
  border-color:yellow ;
  border-style:solid;
  margin-top:1rem ;
}
.provincia{ 
  background-color:  #14D959;
  border-radius:20px;
  text-align: center;
  font-family:"juli";
  padding:1rem;
  margin-top:1rem;
  border-style:solid;
  border-color:yellow;
  color:yellow;
}
.departamento{
  background-color:  #14D959;
  border-radius:20px;
  text-align: center;
  font-family:"juli";
  padding:1rem;
  margin-top:1rem;
  border-style:solid;
  border-color:yellow;
  color:yellow;
}
.quePodemos{
  background-color:  #14D959;
  border-radius:20px;
  text-align: center;
  font-family:"juli";
  padding:1rem;
  margin-top:1rem;
  border-style: solid;
  border-color: yellow;
  color: yellow;
  font-size: x-large;
  border-width:5px ;
}
.nombreApellido{ background-color:  #14D959;
  border-radius:20px;
  text-align: center;
  font-family:"juli";
  padding:1rem;
  margin-top:1rem;
  border-style: solid;
  border-color: yellow;
  color: yellow;
  font-size: x-large;
  border-width:5px ;

}



.enviar{
  margin-top:1rem;
  padding-left:5rem;
  margin-bottom:1rem ;
  margin-top:1rem;
  padding-bottom:2rem;
  

}
.navbar-nav{
  font-family:"juli";
  padding-left:2rem ;
  margin-top:1rem ;
  }
.nav-link{
  color: aliceblue;
  text-align: right;
  padding-left:1rem;

}
.imagen-principal{
  background-color: #03BFC0;
  border-radius:45px;
  text-align: center;
  padding:2rem ;
  margin-top:1rem;
  margin-bottom:2rem;
  border-color: yellow;
  border-width:5px;
  border-style: solid;
 
}
.imagen-principal:hover{
  border-width:10px;
  background-color: #05e9e9;
  animation:tada; 
  animation-duration: 2s;
  
  
}
.titulo1{background-color: #6E2EC9;
border-radius:20px;
padding: 3rem;
text-align:center ;
color: rgb(235, 252, 9);
border-color: #77E68A;
border-style:solid ;
font-family:"juli";


}
.descripcion{
  border-radius:20px ;
  border-color: #A732D9;
  border-style:solid;
  margin-bottom:2rem;
  
}

.caricatura{
  text-align: center;
  background-color:rgb(170, 76, 224);
  padding:1rem;
  

  
}
.chica{
  text-align: center;
 
  border-radius:1000px;
  background-size: cover;
  margin-left:2rem;
  margin-right:2rem;
  font-family:"juli";
  font-size:xx-large;
  color:#8e73f0;
  padding:1rem;

  


}
.chica:hover{
  animation:swing; 
  animation-duration: 2s;

}  

.card-img-top{
  object-fit: cover;
  width:100%;
  height:100%;
  align-items:center;
  justify-content: center;
  border-radius:20px;
  padding:1rem;
}
.card-img-top:hover{
  object-fit: cover;
  width:100%;
  height:100%;
  align-items:center;
  justify-content: center;
  border-radius:50px;
  padding:1rem;
  
 
  animation:swing; 
  animation-duration: 2s;
}

.card{
  width:fit-content ;
  height:fit-content;
  gap:2rem;
  margin-top:2rem;
  margin-left:2rem;
  margin-right:2rem;
  margin-bottom:2rem;
  border-radius:20px;
  background-color:#A732D9;
  border-bottom: #14D959;
  border-style: solid;
 

}
.card-text{
  color: white;
  font-family:"juli" ;
  font-size:xx-large ;
  background-color: #14D959;
  padding:1rem ;
  border-radius:25px;
  text-align: center;
}
.card-title{

 color: white;
  font-family:"juli" ;
  font-size:xx-large;
  
  border-radius:25px;
  text-align: center;
}